@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$comfortaa: 'Comfortaa';
$mainColor : #FFC409;

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;

    .border {
        border: 1px solid red;
    }

    h1 {
        font-family: $comfortaa, sans-serif;
        color: $mainColor;
        text-align: center;
        font-size: 36px;
    }

    .button {
        width: 90%;
        height: 64px;
        --border-radius: 8px !important;
    }

    h2 {
        font-family: $comfortaa, sans-serif;
        color: white;
    }

    .imageReduce {
        border-radius: 12px;
    }

    .searchBar {
        --border-radius: 8px !important;
        width: 90%;
    }
}