.categories {
    .border {
        border: 1px solid red;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageReduce {
        margin: 16px;
        width: 200px;
    }

    .listWrap {
        display: flex;
        flex-wrap: wrap;
    }
}