.categories {
    /*     background: linear-gradient(90deg, #f34968 20.25%, #f34867 20.25%, #f78736 80.25%);
 */
    height: 50vh;
    align-items: center;
    justify-content: center;

    .headingSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
        color: white;
    }

    .fancy-button {
        // --background: linear-gradient(90deg, rgba(247, 135, 54, 1) 20.25%, rgba(243, 72, 103, 1) 20.25%, rgba(243, 72, 104, 1) 80.25%);
        --background: linear-gradient(90deg, rgb(247, 135, 54), rgb(243, 72, 103), rgb(243, 73, 104));

    }

    .fancy-button-reverse {
        // --background: linear-gradient(90deg, rgba(247, 135, 54, 1) 20.25%, rgba(243, 72, 103, 1) 20.25%, rgba(243, 72, 104, 1) 80.25%);
        --background: linear-gradient(90deg, #f34968, #f34867, #f78736);

    }

}